<div class="border-start border-5 p-3 fs-5 mt-4">
  <p><%= @question %></p>
  <p>-You</p>
</div>
<div class="border-start border-5 p-3 fs-5 mt-4 mb-4" id="answer-container">
  <p><%= @answer %></p>
  <p>-Your Coach</p>
</div>

<%= link_to 'Ask a new qeustion', ask_path %>
